<html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <%- include('partial/navbar') %>
    <div class="hero min-h-200px bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <img src="/chatGptWeatherLogo.jpg" height="400px" width="400px" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold">About this Webpage</h1>
          <p class="py-6">Welcome to our cutting-edge weather forecasting application, specifically tailored for residents and visitors of Toronto, Ontario. Our platform is meticulously designed to deliver precise weekly weather forecasts, providing you with up-to-the-minute information on temperature fluctuations, precipitation probabilities, and wind speeds. Leveraging advanced meteorological data and cutting-edge predictive algorithms, our application ensures you are well-prepared for whatever the weather holds, whether it's a sudden spring shower or a serene snowfall in the heart of winter. With user-friendly navigation and real-time updates, our service aims to be your go-to source for weather information in Toronto. Stay ahead of the weather with our reliable forecasts, insightful summaries, and detailed weather analytics, making your daily planning effortless and precise.</p>
        </div>
      </div>
    </div>
</body>
</html>