<html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <%- include('partial/navbar') %>
    <div class="hero min-h-200px bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <img src="/me.jpg" height="400px" width="400px" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold">About Me</h1>
          <p class="py-6">Hello my name is Wilson Sum and I am an second year programming student from Seneca Polytechnic Newnham Campus. I was born and raised in Toronto Ontario Canada. I made this weather webpage as a project to show my abilities with javascript and along with javascript I am also used to using other tools such as qt, matlab, SQL and c++. Hope you find my weather web application helpful in your daily tasks and planning out your day. Have a good day.
          </p>
        </div>
      </div>
    </div>
</body>
</html>