<div id="mainBar">
  <div id="logo">
   <img height=200px width="200px" alt="Weather Logo" src="/chatGptWeatherLogo.jpg">
  </div>
<div id="navOpts">
   <div class="navbar bg-base-100">
       <div class="flex-1">
         <a href="/" class="btn btn-ghost text-xl">Home</a>
       </div>
     </div>
     <div class="navbar bg-base-100">
       <div class="flex-1">
         <a href="/about" class="btn btn-ghost text-xl">About</a>
       </div>        
     </div>
     <div class="navbar bg-base-100">
       <div class="flex-1">
         <a href="/creator" class="btn btn-ghost text-xl">Creator</a>
       </div>        
     </div>
     <div class="navbar bg-base-100">
       <div class="flex-1">
         <a href="https://www.weather.gov/documentation/services-web-api" class="btn btn-ghost text-xl">Source</a>
       </div>        
     </div>
</div>
</div>